
<!-- <div style="text-align:right">
 <h2>Select index from list and click on "continue" to search: </h2>
  <app-home></app-home> 
 
</div> -->

<div class="container-fluid page-content">
  <div class="row">
    <div class="col">
    	<h2>Component : home</h2>
    	<div ngbDropdown class="d-inline-block">
    	<select class="form-control" [(ngModel)]="selectedIndex">    		 
 			 <option *ngFor="let index of indices" [value]="index" class="dropdown-item" onchange=""> {{index}} </option>
		</select>	
		</div>
	</div>
    <div class="col">
    	<app-dashboard [index]="selectedIndex"></app-dashboard>
    </div>
   </div> 	
 </div>





